<!-- all code from [2] -->

<!DOCTYPE html>
{% autoescape false %} <!-- In a normal production environment this would never be set to false but is default to true in jinja/flask-->
<html>                 <!-- But to demonstrate the XSS scanner, cookie scraper and session hijacker -->
  <head>               <!-- It must be disabled, However other web deployment platforms may not come with an autoescape feature -->
    <meta charset="utf-8">
    <title>Feedback</title> <!-- Set title -->
    <link rel="stylesheet" href="/static/style.css"> <!-- Load style sheet -->
  </head>

  <body>

    <!-- Header -->
    <header>
      <h1>Feedback</h1> <!-- Set header content -->
      <p>Read, search and post comments</p>
    </header>

    <!-- Create search form -->
    <form method="GET">
      <input type="text" name="q" 
             placeholder="Search query" autocomplete="off" />
      <input type="submit" value="Filter comments" />
    </form>

    <!-- Comments display box -->
    {% if not search_query %}
      <h3>Showing all comments:</h3>
    {% else %}
      <h3>Showing comments containing "{{ search_query }}":</h3>
    {% endif %}

    {% for comment in comments %}
      <div>
        <p>{{ comment }}</p>
      </div>
    {% endfor %}

    <!-- Create write form -->
    <form action="/feedback" method="POST">
      <input type="text" name="comment" 
             placeholder="Comment" autocomplete="off" />
      <input type="submit" value="Submit new comment" />
    </form>

  </body>
</html>
{% endautoescape %}
